// style variables
$color-primary: #ddac6b;
$body-background: #f2f3e8;
$body-background-dark: #111827;
$muted-dark: #1f2937;
$white: #ffffff;
$black: #000000;
$dark: #0a101a;
$gray: #555;
$light: #fafafa;
